
 body {
	margin: 0px;
	font-family: "Montserrat", "Arial", sans-serif;	
}

.container {
	width: 960px;
	margin: 0, auto;
}

 a {
	text-decoration: none; 
	

.color-dot {
	color: rgb(250,92,101);
}
/*

p {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
} 

header {
	background: url("..//img/hero.jpg") no-repeat;
	
} 

.logo {
	margin-top: -10px; 
	margin-left: 219px;
}

nav a {
    color: rgb(38,55,66);
    font-size: 14px;
	line-height: 85px;
}

nav a:hover {
    color: rgb(240,69,76);
}

.main-menu li {
	display: inline;
	margin-right: 35px; 
}

.promo-title {
	margin-top: 295px;
	margin-left: 220px;
	color: rgb(49,74,91); 
	font-size: 48px;
	font-weight: 600;
	line-height: 53px;
	letter-spacing:-0,04em;
}

.promo p {
 	font-family: "Open Sans", "Arial", sans-serif;
 	color: rgb(49,74,91); 
	font-size: 20px;
	font-weight: regular;
	line-height: 40,35px;
	margin-top: 27px; 
	margin-left: 220px;
	margin-bottom: 45px;
}

.promo a {

	margin-left: 220px;

}


.button a {
	background-color: rgb(250,92,101);
	padding: 15px 20px;
	color: white;
	font-size: 18px;
	border-radius: 8px; 
}

.features {

	margin-left: 240px; 
	margin-top: 88px;
	margin-right: 200px;
	margin-bottom: 88px;

}


.features-item {

	float: left;	
	width: 300px;

}

.features-title {
	color: rgb(49,74,91); 
    font-weight: bold;
	font-size: 26px;
	line-height: 26px;

}

.features-item p {

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: regular;
	line-height: 22px; 

}

.more {

	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 14px;
	font-weight: regular;
	line-height: 20px;
    color: rgb(250,92,101); 

}

.portfolio {

	margin-left: 240px;
	margin-right: 200px;
	margin-top: 350px;
	text-align: justify-all;



}

.portfolio-pic {

	float: left;
	width:300px;

	

}

.portfolio-text {
	float: right;
	width: 450px;
	margin-top: 30px;

        
}

.portfolio-title {

	font-size: 40px;
	font-weight: bold;
	line-height: 46px;
	letter-spacing:-0,04em;
	margin-bottom: 0px;


}

.potfolio-slogan {

	font-size: 16px;
	line-height: 20px;
	color: rgb(49,74,91);
	margin-bottom: 20px; 

}

.portfolio-about {

    font-size: 15px;
	line-height: 22px;

}


.team {

	clear: both;
}
.team-title-name {
	color: rgb(49,74,91); 
    font-weight: bold;
}

.team-title-profession {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(240,69,76);
	font-size:14px;
	font-weight: regular;
	line-height: 20px;
}

*/





