
 body {
	margin: 0px;
	font-family: "Montserrat", Arial, sans-serif;	
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	background: url("..//img/hero.jpg") no-repeat;
	height: 1057px;
	background-position: center;
} 

.header-logo {
	float: left;
}

.header-menu {
	list-style: none;
	margin: 0px;
	float: right;
} /*тут проблема*/

.header-menu li {
	float: left;
	margin-right: 39px;
}

.header-menu li a {
	text-decoration: none;
	color: rgb(38,55,66);
	font-size: 14px;
	line-height: 85px;
}

.header-menu a:hover {
    color: rgb(240,69,76);
}

.clear {
	clear: both;
}

.header-title {
	margin-top: 295px;
	color: rgb(49,74,91); 
	font-size: 48px;
	font-weight: 600;
	line-height: 53px;
	letter-spacing:-0,04em;
}

.header-slogan {
	margin-top: 27px; 
	margin-bottom: 45px;
	font-family: "Open Sans", "Arial", sans-serif;
 	color: rgb(49,74,91); 
	font-size: 20px;
	font-weight: 400;
	line-height: 40,35px;
}

.header-button a {
	background-color: rgb(250,92,101);
	padding: 22px 43px;
	color: white;
	font-size: 15px;
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 48px;
	font-weight: 500;
	border-radius: 8px; 
	text-decoration: none;
}

.color-dot {
	color: rgb(250,92,101);
}

.header-button {
	margin-top: 45px;
}



.features-item {
	float: left;
	width: 320px;
}

.features {

	margin-left: 220px; 
	margin-top: 70px;
	margin-right: 200px;
	margin-bottom: 88px;
}

.features-title {
	color: rgb(49,74,91); 
    font-weight: 600;
	font-size: 26px;
	line-height: 26px;

}
.features-text {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
	font-size: 15px;
	font-weight: regular;
	line-height: 22px; 
}

.more {
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 14px;
	font-weight: regular;
	line-height: 20px;
    color: rgb(250,92,101); 
    text-decoration: none;
}



.portfolio-pic {
	float: left;
}

.portfolio {
	margin-left: 220px;
	margin-right: 200px;
	margin-top: 350px;
}

.portfolio-text {
	padding-top: 50px;
}

.portfolio-title {
	font-size: 40px;
	font-weight: 600;
	line-height: 46px;
	letter-spacing:-0,04em;
	margin-bottom: 0px;
	color: rgb(49,74,91); 
}

.potfolio-slogan {
	font-size: 16px;
	line-height: 20px;
	color: rgb(49,74,91);
	margin-bottom: 20px; 
}

.portfolio-about {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
    font-size: 15px;
	line-height: 22px;

}


.team {
	margin-left: 220px;
}

.team-item {
	float: left;
	margin-right: 20px;
}

.team-title {
	color: rgb(49,74,91); 
	font-size: 32px;
	margin-bottom: 0px;
}

.team-slogan {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
	font-size: 16px;
	margin-top: 3px;
}

.team-title-name {
	color: rgb(49,74,91); 
    font-weight: bold;
    font-size: 22px;
    text-transform:uppercase;
    margin-bottom: 0px;
}

.team-title-profession {
	margin-top: 5px;
	margin-bottom: 0px;
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(240,69,76);
	font-size:14px;
	font-weight: regular;
	line-height: 20px;
}

.team-title-text {
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
    font-size: 15px;
	line-height: 22px;
}

.team-more {
	margin-left: 850px;
	padding-top: 72px;
}

.footer {
	width: 960px;
	margin: 0 auto;
}

.footer-line {
	padding-top: 30px;
	width: 939px;    
}

.footer-social {
	list-style: none;
	margin-bottom: 30px;
}

.footer-social li {
	float: left;
	margin-right: 20px;	
}

.footer-copyright {
	float: right;
	font-family: "Open Sans", "Arial", sans-serif;
	color: rgb(154,160,171);
    font-size: 13px;
	line-height: 60px;
} /*тут проблема*/



