 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1370px;
	 height: 2260px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #FreelancerDesignedby 
{ 
	 left: 874px; 
	 top: 2203px; 
	 position: absolute; 
	 width: 285px;
	 height: 14px;
	 z-index:1;
} 

 #google 
{ 
	 left: 335px; 
	 top: 2201px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:2;
} 

 #facebook 
{ 
	 left: 303px; 
	 top: 2201px; 
	 position: absolute; 
	 width: 10px;
	 height: 18px;
	 z-index:3;
} 

 #Instagram 
{ 
	 left: 263px; 
	 top: 2201px; 
	 position: absolute; 
	 width: 18px;
	 height: 18px;
	 z-index:4;
} 

 #Twitter 
{ 
	 left: 221px; 
	 top: 2202px; 
	 position: absolute; 
	 width: 20px;
	 height: 16px;
	 z-index:5;
} 

 #More 
{ 
	 left: 1096px; 
	 top: 2095px; 
	 position: absolute; 
	 width: 44px;
	 height: 10px;
	 z-index:6;
} 

 #Photo 
{ 
	 left: 854px; 
	 top: 1914px; 
	 position: absolute; 
	 width: 128px;
	 height: 128px;
	 z-index:7;
} 

 #DrummerSouploverBeer 
{ 
	 left: 999px; 
	 top: 1993px; 
	 position: absolute; 
	 width: 143px;
	 height: 35px;
	 z-index:8;
} 

 #Copywriter 
{ 
	 left: 998px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 72px;
	 height: 15px;
	 z-index:9;
} 

 #Mike 
{ 
	 left: 999px; 
	 top: 1936px; 
	 position: absolute; 
	 width: 54px;
	 height: 16px;
	 z-index:10;
} 

 #Photo_0 
{ 
	 left: 531px; 
	 top: 1915px; 
	 position: absolute; 
	 width: 128px;
	 height: 128px;
	 z-index:11;
} 

 #MTBBikerPhotoshopMas 
{ 
	 left: 680px; 
	 top: 1993px; 
	 position: absolute; 
	 width: 144px;
	 height: 35px;
	 z-index:12;
} 

 #Webdesigner 
{ 
	 left: 679px; 
	 top: 1964px; 
	 position: absolute; 
	 width: 90px;
	 height: 15px;
	 z-index:13;
} 

 #Matt 
{ 
	 left: 680px; 
	 top: 1936px; 
	 position: absolute; 
	 width: 61px;
	 height: 16px;
	 z-index:14;
} 

 #Photo_1 
{ 
	 left: 215px; 
	 top: 1915px; 
	 position: absolute; 
	 width: 128px;
	 height: 128px;
	 z-index:15;
} 

 #CoffeeloverAlwaysonb 
{ 
	 left: 358px; 
	 top: 1994px; 
	 position: absolute; 
	 width: 134px;
	 height: 32px;
	 z-index:16;
} 

 #Webdeveloper 
{ 
	 left: 360px; 
	 top: 1965px; 
	 position: absolute; 
	 width: 99px;
	 height: 15px;
	 z-index:17;
} 

 #Joey 
{ 
	 left: 359px; 
	 top: 1937px; 
	 position: absolute; 
	 width: 58px;
	 height: 17px;
	 z-index:18;
} 

 #Theyarebigbutstillfr 
{ 
	 left: 219px; 
	 top: 1862px; 
	 position: absolute; 
	 width: 214px;
	 height: 17px;
	 z-index:19;
} 

 #Ourteam 
{ 
	 left: 219px; 
	 top: 1822px; 
	 position: absolute; 
	 width: 179px;
	 height: 24px;
	 z-index:20;
} 

 #More_0 
{ 
	 left: 699px; 
	 top: 1677px; 
	 position: absolute; 
	 width: 44px;
	 height: 10px;
	 z-index:21;
} 

 #NomorepricinggridsNo 
{ 
	 left: 698px; 
	 top: 1528px; 
	 position: absolute; 
	 width: 367px;
	 height: 104px;
	 z-index:22;
} 

 #Wearesmallbutstrongt 
{ 
	 left: 699px; 
	 top: 1482px; 
	 position: absolute; 
	 width: 223px;
	 height: 17px;
	 z-index:23;
} 

 #PORTFOLIO 
{ 
	 left: 699px; 
	 top: 1435px; 
	 position: absolute; 
	 width: 233px;
	 height: 30px;
	 z-index:24;
} 

 #MacBook 
{ 
	 left: 89px; 
	 top: 1416px; 
	 position: absolute; 
	 width: 528px;
	 height: 301px;
	 z-index:25;
} 

 #Shadow 
{ 
	 left: 125px; 
	 top: 1269px; 
	 position: absolute; 
	 width: 188px;
	 height: 608px;
	 z-index:26;
} 

 #More_1 
{ 
	 left: 859px; 
	 top: 1302px; 
	 position: absolute; 
	 width: 44px;
	 height: 10px;
	 z-index:27;
} 

 #Thesamedebitcardyouu 
{ 
	 left: 859px; 
	 top: 1213px; 
	 position: absolute; 
	 width: 255px;
	 height: 60px;
	 z-index:28;
} 

 #Simplepayments 
{ 
	 left: 860px; 
	 top: 1143px; 
	 position: absolute; 
	 width: 154px;
	 height: 46px;
	 z-index:29;
} 

 #More_2 
{ 
	 left: 539px; 
	 top: 1302px; 
	 position: absolute; 
	 width: 44px;
	 height: 10px;
	 z-index:30;
} 

 #NomorepricinggridsNo_0 
{ 
	 left: 539px; 
	 top: 1213px; 
	 position: absolute; 
	 width: 251px;
	 height: 60px;
	 z-index:31;
} 

 #FreeActuallyfree 
{ 
	 left: 538px; 
	 top: 1139px; 
	 position: absolute; 
	 width: 215px;
	 height: 46px;
	 z-index:32;
} 

 #More_3 
{ 
	 left: 219px; 
	 top: 1302px; 
	 position: absolute; 
	 width: 44px;
	 height: 10px;
	 z-index:33;
} 

 #YouresafewithusThepr 
{ 
	 left: 219px; 
	 top: 1213px; 
	 position: absolute; 
	 width: 257px;
	 height: 60px;
	 z-index:34;
} 

 #PeaceofMind 
{ 
	 left: 219px; 
	 top: 1143px; 
	 position: absolute; 
	 width: 124px;
	 height: 46px;
	 z-index:35;
} 

 #Photo_2 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1370px;
	 height: 1057px;
	 z-index:36;
} 

 #READMORE 
{ 
	 left: 261px; 
	 top: 637px; 
	 position: absolute; 
	 width: 87px;
	 height: 12px;
	 z-index:37;
} 

 #Weresmallbutimpressi 
{ 
	 left: 220px; 
	 top: 548px; 
	 position: absolute; 
	 width: 403px;
	 height: 21px;
	 z-index:38;
} 

 #intelligenceisnothin 
{ 
	 left: 218px; 
	 top: 380px; 
	 position: absolute; 
	 width: 510px;
	 height: 142px;
	 z-index:39;
} 

 #Facebook 
{ 
	 left: 1149px; 
	 top: 25px; 
	 position: absolute; 
	 width: 10px;
	 height: 18px;
	 z-index:40;
} 

 #Twitter_0 
{ 
	 left: 1106px; 
	 top: 26px; 
	 position: absolute; 
	 width: 20px;
	 height: 16px;
	 z-index:41;
} 

 #Menu 
{ 
	 left: 706px; 
	 top: 29px; 
	 position: absolute; 
	 width: 369px;
	 height: 10px;
	 z-index:42;
} 

 #Freelancer 
{ 
	 left: 233px; 
	 top: 43px; 
	 position: absolute; 
	 width: 112px;
	 height: 17px;
	 z-index:43;
} 
